<!-- base.html -->
<!doctype html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'properties/css/styles.css' %}">

        <!-- title -->
        <title>{% block title %}House bob properties{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <!-- nav bar -->
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'properties/images/bob-logo.png' %}" width="60" height="60" class="d-inline-block align-middle" alt="">
                    Bob Properties
                </a>
            </nav>

            <!-- content -->
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar px-4 my-4">
                    <div class="sidebar-sticky">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#"> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#"> Reports</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2 mt-5">
                    <div class="pt-4 pb-2 border-bottom">
                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
            </div>


            <!-- footer -->
            <footer class="fixed-bottom">
                <div class="d-flex justify-content-center bg-dark">
                    <p class="text-center text-white">@Copyright 2020 PeterWade153</p>
                </div>
            </footer>
        </div>

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
