<!-- base.html -->
<!doctype html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <!-- custom css -->
        <link rel="stylesheet" href="{% static 'properties/css/styles.css' %}">

        <!-- title -->
        <title>{% block title %}House bob properties{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <!-- nav bar -->
            <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'properties/images/bob-logo.png' %}" width="60" height="60" class="d-inline-block align-middle" alt="">
                    Bob Properties
                </a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0 mr-2" type="submit">Search</button>
                </form>
            </nav>

            <!-- content -->
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar px-4 my-4">
                    <div class="sidebar-sticky">
                        <!-- side bar -->
                        <ul class="nav flex-column nav-pills nav-fill">
                            <li class="nav-item pb-2">
                                <a class="nav-link active bg-dark" href="/">Dashboard
                                    <span style="font-size: 18px">
                                        <i class="fas fa-columns px-1"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item pb-2">
                                <a class="nav-link active bg-dark" href="#">Reports
                                    <span style="font-size: 18px">
                                        <i class="fas fa-archive pl-4 pr-2"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2 mt-5">
                    <div class="pt-4 pb-2 ">
                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
            </div>

            <!-- footer -->
            <footer class="fixed-bottom">
                <div class="d-flex justify-content-center bg-dark ">
                    <p class="text-center text-white mt-2">@Copyright 2020 PeterWade153</p>
                </div>
            </footer>
        </div>

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
