{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3 >Dashboard</h3>

        <!-- tables option -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Location</th>
                <th scope="col">Category</th>
                <th scope="col">Bathrooms</th>
                <th scope="col">Bedrooms</th>
                <th scope="col">Price (Ugx)</th>
                <th scope="col">Status</th>
                <th scope="col">Agent</th>
              </tr>
            </thead>
            <tbody>
              {% for property in properties %}
                <tr>
                  <td>{{ property.code }}</td>
                  <td>{{ property.location }}</td>
                  <td>{{ property.category }}</td>
                  <td>{{ property.bathrooms }}</td>
                  <td>{{ property.bedrooms }}</td>
                  <td>{{ property.price }}</td>
                  <td>{{ property.status }}</td>
                  <td>{{ property.agent }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

        <!-- pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if properties.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">begin</span>
                </a>
              </li>
            {% endif %}

            {% for page in properties.paginator.page_range %}
              {% if properties.number == page %}
                <li class="page-item active">
                  <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
                </li>
              {% elif page > properties.number|add:'-3' and page < properties.number|add:'3' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if properties.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ properties.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">end</span>
              </a>
            </li>
          {% endif %}
          </ul>
        </nav>
    </div>
    
{% endblock %}
