{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 >Dashboard</h2>

        <!-- tables option -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Location</th>
                <th scope="col">Category</th>
                <th scope="col">Bathrooms</th>
                <th scope="col">Bedrooms</th>
                <th scope="col">Price</th>
                <th scope="col">Location</th>
                <th scope="col">District</th>
                <th scope="col">Agent</th>
              </tr>
            </thead>
        </table>

    </div>
    

{% endblock %}
